<%= stylesheet_link_tag 'about' %>
<h1 style="text-align:center; font-family:Papyrus"><b>About Us...</b></h1>
<div style="font-family:Lucida Console">
<h4>
  Welcome to our travel app, your ultimate companion for exploring the world and creating unforgettable memories.
</h4>
<p>
   At Traveller, we believe that travel is not just about reaching a destination but embarking on a journey of discovery, adventure, and personal growth.

Our mission is to inspire and empower travelers like you to wander with purpose, connect with diverse cultures, and embrace the beauty of our planet. Whether you're a seasoned globetrotter or a first-time explorer, our app is designed to provide you with the tools, information, and inspiration you need to plan and experience your dream trips.
<br/><br/>

With our app, you can discover a treasure trove of destinations, from iconic landmarks to hidden gems off the beaten path. Explore vibrant cities, pristine beaches, breathtaking landscapes, and immerse yourself in the local flavors, traditions, and authentic experiences that make each place unique.

We strive to offer you a seamless and personalized travel planning experience. Our app provides comprehensive travel guides, insider tips, and curated itineraries to help you make the most of your adventures. From finding the best flights and accommodations to organizing your daily activities, we've got you covered.

<br/><br/>

But it's not just about the logistics. We believe in the transformative power of travel, and we encourage you to embrace new perspectives, connect with fellow travelers, and create memories that will last a lifetime. Our community is filled with like-minded explorers who share their stories, photos, and travel recommendations, fostering a sense of belonging and inspiration.

Your safety and well-being are our top priorities. We provide up-to-date travel advisories, health guidelines, and essential information to ensure that you can explore the world responsibly and with peace of mind.

Join us on this exciting journey and let us be your trusted companion in creating extraordinary travel experiences. Start exploring, start discovering, and let your wanderlust guide you to new horizons.
<br/><br/>

Happy travels!
<br/>
The Traveller Team
<br/><br/>
<%= link_to 'Back', home_index_path , class:'btn btn-dark' %>
</p>
</div>
