<div id="<%= dom_id company %>">
  <p>
    <strong>Companyname:</strong>
    <%= company.companyname %>
  </p>

  <p>
    <strong>Hqlocation:</strong>
    <%= company.hqlocation %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= company.rating %>
  </p>

</div>
