<h1>Editing trippackage</h1>

<%= render "form", trippackage: @trippackage %>

<br>

<div>
  <%= link_to "Show this trippackage", @trippackage %> |
  <%= link_to "Back to trippackages", trippackages_path %>
</div>
